In [1]:
import pandas as pd
import numpy as np
from kaggle_handler import handler

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

# Downloading & Loading Dataset

    This Dataset is a toy dataset and only being used for learning purpose

In [3]:
Assets = handler("ashaychoudhary/gen-z-dating-apps-india")

Directory 'Assets' already exists.
Datasets already exist in Assets folder
['tested.csv', 'GenZ_DatingApp_Data.csv']
 Change Add_more parameter to download more datasets

In [4]:
df = pd.read_csv('Assets/GenZ_DatingApp_Data.csv', usecols=['Gender', 'Location', 'Education', 'Occupation', 'Reason_for_Using'])
df.sample(5)

         Gender   Location      Education     Occupation    Reason_for_Using
60   Non-binary  Bangalore  Undergraduate         Intern       Casual Dating
158  Non-binary    Chennai       Graduate        Student   Finding a Partner
326      Female    Kolkata       Graduate  Part-time Job   Finding a Partner
341  Non-binary  Hyderabad       Graduate  Part-time Job   Finding a Partner
175        Male  Bangalore       Graduate        Student  Social Interaction

# Spliting Dataset

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df[['Gender','Location','Education','Occupation']],
                                                    df['Reason_for_Using'],test_size=.2)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((400, 4), (400,), (100, 4), (100,))

# Column Transformer

In [6]:
X_train['Education'].unique(), X_train['Occupation'].unique()

(array(['Postgraduate', 'Undergraduate', 'Graduate'], dtype=object),
 array(['Intern', 'Freelancer', 'Student', 'Full-time Job',
        'Part-time Job'], dtype=object))

In [7]:
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(transformers=[
    ('ohe',OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32),['Gender', 'Location']),
    ('oe',OrdinalEncoder(categories=[['Postgraduate', 'Graduate', 'Undergraduate'],
                                    ['Student', 'Freelancer', 'Intern', 'Part-time Job', 'Full-time Job']],
                        dtype=np.int32),['Education','Occupation'])
],remainder='passthrough')
X_train_ct = ct.fit_transform(X_train)
X_test_ct = ct.transform(X_test)

In [8]:
pd.DataFrame(X_train_ct, columns=ct.get_feature_names_out()).head(5)

,ohe__Gender_Male,ohe__Gender_Non-binary,ohe__Location_Chennai,ohe__Location_Delhi,ohe__Location_Hyderabad,ohe__Location_Kolkata,ohe__Location_Mumbai,ohe__Location_Pune,oe__Education,oe__Occupation
0,1,0,0,0,0,0,0,1,0,2
1,1,0,0,0,0,0,1,0,2,1
2,1,0,0,0,0,0,1,0,0,0
3,0,1,0,1,0,0,0,0,0,4
4,0,1,1,0,0,0,0,0,1,1

In [9]:
X_train.head(5)

         Gender Location      Education     Occupation
141        Male     Pune   Postgraduate         Intern
424        Male   Mumbai  Undergraduate     Freelancer
282        Male   Mumbai   Postgraduate        Student
77   Non-binary    Delhi   Postgraduate  Full-time Job
233  Non-binary  Chennai       Graduate     Freelancer