In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
ohe_sex = pickle.load(open('without_pipline_models/ohe_sex.pkl','rb'))
ohe_embarked = pickle.load(open('without_pipline_models/ohe_embarked.pkl','rb'))
age_fare_scale = pickle.load(open('without_pipline_models/age_fare_scale.pkl','rb'))
clf = pickle.load(open('without_pipline_models/clf.pkl','rb'))

In [3]:
test_input = pd.DataFrame({'Pclass':[1,3], 'Sex':['male','female'],
                           'Age':[18.0, 45.0], 'SibSp':[0,1], 'Parch':[2,0],
                           'Fare':[100.5,10.8], 'Embarked':['S','C']},
                          index=[1,2])
test_input

   Pclass     Sex   Age  SibSp  Parch   Fare Embarked
1       1    male  18.0      0      2  100.5        S
2       3  female  45.0      1      0   10.8        C

In [4]:
test_input_sex = ohe_sex.transform(test_input[['Sex']])
test_input_embarked = ohe_embarked.transform(test_input[['Embarked']])
test_input_age_fare = age_fare_scale.transform(test_input[['Age','Fare']])

/home/sptrop/Desktop/.desk/Jupyter/venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but OneHotEncoder was fitted without feature names
  warnings.warn(

In [5]:
test_input_rem = test_input.drop(columns=['Age', 'Fare', 'Embarked', 'Sex'])
test_input_transform = np.concat((test_input_rem,test_input_age_fare,test_input_sex,test_input_embarked),axis=1)
test_input_transform.shape

(2, 10)

In [6]:
clf.predict(test_input_transform)

array([1, 0])